{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Story Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/assets/book_icon.png" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <style>
            #loading {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: fixed;
                display: block;
                opacity: 0.6;
                background: #e4e4e4;
                z-index: 99;
                text-align: center;
            }

            #loading > img {
                position: absolute;
                top: 50%;
                left: 50%;
		transform: translate(-50%, -50%);
            }

            #loading > p {
                    position: absolute;
                    top: 57%;
                    left: 47%;
                    z-index: 101;
            }
        </style>	
	<script>
            $(document).ready(function(){
                    $('#loading').hide();
                    $('#trans').submit(function(){
                        $('#loading').show();
                        return true;
                    });
            });	
	</script>
    </head>
    <!-- Full Page Intro -->
    <body>
 	<div id="loading">
		<img src="../../static/assets/loading_bar.gif">
		<!-- <p> 변환 중 입니다.</p> -->
	</div>
        <!-- Masthead-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/" role="button">이야기 주머니</a>
            </div>
        </nav>

        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class = "text-center">
                    <br><br><br><br>
                    <h1 style="color: white;"> 목소리 들어보기 </h1>

                    <br><br><br><br><br><br><br><br>

                    <h3 style="color: white;"> 원하시는 문장을 입력하고 화자를 선택해보세요 </h3>
                    <h3 style="color: white;"> 여러분이 선택한 화자가 입력한 문장를 말해줄거에요! </h3>

                    <br><br><br><br><br><br>

                    <div style = "text-align:center">
                        <a class="btn btn-primary btn-xl" href="#go">체험하기</a>
                    </div>
                </div>

                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <!-- <p class="text-white-50 mb-4">전래동화</p> -->
                        <hr class="divider" />
                    </div>
                </div>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="go">
            <div class="text-center">
                <p><span style="font-size: 270%"> 어떤 문장을 듣고싶나요?</span></p>
            </div>
            <div class="container px-4 px-lg-5">
                <form method="POST" class = "text-center" id = "trans">{% csrf_token %}
                    <input type="text" name="text" placeholder="한글 텍스트를 입력하세요(특수문자나 숫자를 넣게되면 음성생성이 안돼요)" style="width:1200px;height:50px;font-size:25px;text-align:left;padding-top:5">
                    <br><br><br><br>
                    <p><span style="font-size: 200%">목소리를 선택해주세요</span></p>
                    <select name="voice" style="width:100px;height:30px;font-size:15px">
                        <option value="None">목소리 선택</option>
                        <option value="m1">남자1</option>
                        <option value="m2">남자2</option>
                        <option value="m3">남자3</option>
                        <option value="m4">남자4</option>
                        <option value="m5">남자5</option>
                        <option value="m6">남자6</option>
                        <option value="w1">여자1</option>
                    </select>
                    <br><br><br><br><br><br>
                    <button type="submit" style="width:200px;height:50px;font-size:20px;"> 입력하기 </button>
                    <br><br><br>
                    <p>입력하기 버튼을 누르신 후 30초 정도 기다려주세요<br> 음성 생성하기까지 시간이 조금 필요해요~ </p>
                    <p>새로운 창으로 바뀌고 재생버튼을 누르시면 음성이 실행됩니다 </p>

                </form>
            </div>
        </section>

        <div class="container-sm">
            <div class="text-center">
                <audio id = "audio_custom" preload="true">
			<source src="../../static/file_audio/{{ client_session_id }}/{{audio_name}}">
                </audio>
                <a href="#" onclick="playAudio()" id="audioPlay" class="btn btn-default active" role="button" data-bs-toggle="button" aria-pressed="true">
                    <i class="bi-play-fill fs-1 text-primary"></i>
                </a>
                <a href="#" onclick="pauseAudio()" id="audioPause" class="btn btn-default active" role="button" data-bs-toggle="button" aria-pressed="true">
                    <i class="bi-pause-fill fs-1 text-primary"></i>
                </a>
                <a href="#" onclick="stopAudio()" id="audioStop" class="btn btn-default active" role="button" data-bs-toggle="button" aria-pressed="true">
                    <i class="bi-stop-fill fs-1 text-primary"></i>
                </a>
            </div>
        </div>


        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - Programmers AI Dev b1 project</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script>
            var audio = document.getElementById("audio_custom");
            function playAudio() {
                audio.play();
            }
            function pauseAudio() {
                audio.pause();
            }
            function stopAudio() {
                audio.pause();
		        audio.currentTime = 0;
	    }
        </script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<!-- <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> -->
    </body>
</html>
